/* Estilo general Ecotree */
* {
    margin: 0;
    padding: 0;
    bottom: none;
    box-sizing: border-box;
    border: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid red;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}
a {
    text-decoration: none;
    font-weight: 400;
}

p, span {
    font-weight: 300;
}

li {
    list-style-type: none;
}

form * {
    outline: none;
}

::selection {
    background-color: transparent;
}



/* Página principal Eco Tree */

/* Seccion encabezado */
#encabezado {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    gap: 1rem;
    width: 100%;
    height: 240px;
    border: 2px solid blue;
}

#ecoTree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 244, 244);
    border-radius: .75rem;
    height: 236px;
}

#jardin {
    border-radius: .5rem 0 0 .5rem;
    width: 85%;
    height: 230px; 
}

#encabezado ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
    background-color: rgb(244, 244, 244);
    border-radius: .5rem;
    height: 236px;
    border: 2px solid orange;
}

#encabezado ul a {
    color: orange;
    padding: .5rem;
    border: 2px solid orange;
}
#encabezado ul hr {
    border: 1px solid rgb(244, 244, 244);
    box-shadow: 1px 1px rgb(175, 175, 175);
    border-radius: 1px;
}

/* Seccion informacion */
#informacion {    
    display: flex;
    flex-direction: column;
    gap: 1rem;   
    align-items: start;
    padding: .5rem;
    background: linear-gradient(rgb(221,241,251), rgb(180, 223, 248));
    border-radius: .5rem;
    height: 150px;
    border: 2px solid black;
}

#informacion p,a {
    color: rgb(100, 130, 150);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Seccion decoracion */
#decoracion {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    text-align: justify;
    border: 2px solid rgb(36, 128, 8);
}

#decoracion img {
    width: 100%;
    height: 200px;
    
}

#decoracion a {
    background-color: rgb(red, green, blue);
}

/* Media query */
@media only screen and (min-width:425px) {
    
    /* Seccion pagina principal */
    #encabezado {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 2fr 1fr;
        width: 100%;
        height: 240px;
    }

    

    #flechita {
        
    }

    #jardin {
        height: 236px;
    }

    #encabezado ul {
        height: 100%;
    }

    #informacion {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    #informacion img {
        visibility: visible;
    }

    /* Seccion pagina contacto */
}

/* Seccion pagina contacto */

/* Seccion contacto */

#contacto {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#galeria article{
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fill, minmax(14rem,1fr));
    width: 100%;
    border: 2px solid red;
}

#galeria img {
    width: 100%;
    border: 2px solid purple;
    height: 100%;
}

#nostros {
    border: 2px solid rgb(3, 3, 8);
}