* {
    margin: 0;
    padding: 0;
    bottom: none;
    box-sizing: border-box;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    border: 2px solid red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    text-justify: distribute;
    text-align: start;
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}



#Main{
    border: 2px solid green;
    flex-grow: 1;
}
#Pagina {
    display: flex;
    margin: 10px auto;
    max-width: 1200px;
    text-align: start;
    background-color: rgba(233, 231, 231, 0.664);
    border: 2px solid red;
}

#Pagina img{
    margin: 5px 5px;  
}

.encabezado {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;    
    border: 2px solid black;
}

.ecotree{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid red;
    background-color: rgba(233, 231, 231, 0.664);
    border-radius: .75rem;
    height: 200px;
    width: 100%;
    padding: 0 0 0 0.5rem;
    color: rgb(171, 171, 170);
}

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;    
    padding: 1rem 2rem;
    font-size: 1rem;
}

.menu hr {
    margin: 5px;
}

.menu a {
    text-decoration: none;
    color: rgb(255, 145, 0);
}

.jardin{
    border: 2px solid blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.jardin img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: .75rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0 2rem;
    text-align: left;
    border: 2px solid greenyellow;
    gap: 1rem;
}

input, textarea {
    width: 100%;    
}


.galeria{
    background-color: white;
    align-items: center;
    border: 2px solid blueviolet;
    padding: 0px;
    
}

.galeria img{
    padding: 5px 5px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.detalle {
    text-align: justify;
}

.decorar{
    background-color: rgba(233, 231, 231, 0.664);
    border-radius: 10px
}

.contacto {
    background-color: rgb(205, 237, 255);
    text-align: start;
    padding: 30px 20px;
    border: 2px solid blue;
}


.nuestroServicio {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}

footer {
    height: 50px;
    background-color: gray;
    margin: 5% 0;
}

.boton{
    background-color: rgb(191, 221, 239);
    text-decoration: none;
    padding: 2px 20px;
    color: rgb(51, 162, 206);
}

/* Estilos para pantallas de 769px a 960px */
@media screen and (min-width: 768px) {
    .encabezado{
        display: flex;
        align-items:center;
        justify-content: space-between;
        border: 2px solid black;
    }

    .ecotree{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 2px solid red;
        background-color: rgba(233, 231, 231, 0.664);
        border-radius: .75rem;
        height: 200px;
        width: 25%;
        padding: 0 0 0 0.5rem;
        color: rgb(171, 171, 170);
    }

    .menu {
        display: flex;
        flex-direction: column;
        width: 25%;    
        padding: 1rem 2rem;
        font-size: 1rem;
    }
    
    .menu hr {
        margin: 5px;
    }
    
    .menu a {
        text-decoration: none;
        color: rgb(255, 145, 0);
    }

    .jardin{
        border: 2px solid blueviolet;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    
    .jardin img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: .75rem;
    }
}




