/* Estilo general Ecotree */
* {
    margin: 0;
    padding: 0;
    bottom: none;
    box-sizing: border-box;
    border: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
    gap: .5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;    
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    width: 80%;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
    color: rgb(61, 72, 78);
}
a {
    text-decoration: none;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p, span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    color: rgb(133, 160, 175);
}

li {
    list-style-type: none;
}

form * {
    outline: none;
}

::selection {
    background-color: transparent;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 1rem;
}



/* Página principal Eco Tree */

/* Seccion encabezado */
#encabezado {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#ecoTree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(231, 231, 231);
    border-radius: .5rem;
    height: 100%;
}

#jardin {
    border-radius: .5rem 0 0 .5rem;
    width: 100%;
    border-radius: 0.5rem;
    height: 230px; 
}

#flechita {
    display: none;
}

#encabezado ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
    background-color: rgb(231, 231, 231);
    border-radius: .5rem;
    height: 236px;
    border: 2px solid orange;
}

#encabezado ul a {
    color: orange;
    padding: .5rem;
}
#encabezado ul hr {
    border: 1px solid rgb(244, 244, 244);
    box-shadow: 1px 1px rgb(175, 175, 175);
}

/* Seccion informacion */
#informacion {    
    display: flex;
    flex-direction: column;
    gap: 1rem;   
    align-items: start;
    padding: .5rem;
    background: linear-gradient(rgb(221,241,251), rgb(180, 223, 248));
    border-radius: .5rem;
    height: 100%;
    border: 2px solid black;
}

#informacion h2 {
    font-weight: bolder;
    padding: .25rem 0;
}

#informacion a {
    color: rgb(100, 130, 150);
}

#informacion img {
    display: none;
}

/* Seccion decoracion */
#decoracion {
    display: flex;
    flex-direction: column;
    background-color: rgb(244,244,244);
    gap: 1rem;
    text-align: justify;
    border: 2px solid rgb(36, 128, 8);
    position: relative;
    height: 100%;
}

#decoracion article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}

#decoracion img {
    width: 100%;
    height: 200px;
    padding: 2%;
    background-color: rgb(255,255,255);
}

#decoracion a {
    background-color: rgb(180, 223, 248);
    padding: .25rem 1rem;
    border-radius: .25rem;
    width: 60px;
}


#ideas {    
    position: relative;    
}
#ideas img {
    background-color: transparent;
}

#ideas p {
    position: absolute;
    top: 2em;
    padding: 1rem;
    color: rgb(116, 112, 107);
}

/* Seccion recomendaciones */
#recomendaciones article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    text-align: justify;
    color: rgb(100, 130, 150);
}
#recomendaciones h2{
    padding: .5rem 0;
}

#recomendaciones p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

#recomendaciones a {
    width: 70px;
    background-color: rgb(221,241,251);
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-size: large;
    color: rgb(100, 130, 150);
}

/* Seccion pie de pagina principal*/

footer {
    width: 100%;
}
footer img{
    width: 100%;
}

/* Seccion de página de contacto */

/* Seccion contacto */

#contacto {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    background-color: rgb(244, 244, 244);
    border-radius: .5rem;
}

#formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#formulario form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

textarea {
    resize: vertical;
}

#enviar {
    width: 70px;
    height: 30px;
    background-color: rgb(180, 223, 248);
    border: 1px solid rgb(0, 153, 255);
    border-radius: 0;
    color: rgb(0, 153, 255);
}

#galeria {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#galeria article{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    grid-template-columns: repeat(auto-fill, minmax(14rem,1fr));
    width: 100%;
}

/* Seccion nosotros */
#nosotros {
    display: flex;
    flex-direction: row;

    gap: 1rem;
    background-color: rgb(219, 239, 250);
    border-radius: .5rem;
}

#nosotros div{
    width: calc(100%/3);
    padding: 0 2rem;
    gap: 1rem;
}

#redes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#redes ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

#redes li {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: large;
}

#redes a {
    margin: 0 1rem;    
    color: orange;
}

#servicios {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#nos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
}


/* Media query */
@media only screen and (min-width:768px) {
    
    /* Seccion pagina principal */
    
    /* Seccion encabezado */
    #encabezado {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 240px;
    }

    #ecoTree {
        width: 20%;
    }

    #flechita {
        width: 10px;
        height: 10px;
    }

    #jardin {
        height: 236px;
        width: 50%;
    }

    #encabezado ul {
        height: 100%;
        width: 25%;
    }

    /* Seccion informacion */

    #informacion {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    #informacion img {
        display: inline-block;
    }

    /* Seccion decoracion */

    #decoracion {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #decoracion article {
        width: 27%;
    }

    #ideas p {
        top: 0;
        padding: 0 1rem;
    }

    /* Seccion decoracion */

    #recomendaciones {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #recomendaciones article {
        width: 32%;
    }

    /* Seccion pagina contacto */
    #contacto {
        display:flex;
        flex-direction: row;
        padding: 1rem 1rem 3rem 1rem;    
    }

    #formulario {
        width: 30%;
    }

    #formulario form {
        height: 100%;
        border-radius: 0;
    }

    #galeria {
        width: 70%;
    }

    #galeria h2 {
        margin-top: 2rem;
    }

    #galeria article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem 2rem;
        background-color: rgb(255, 255, 255);
    }
    #galeria img {        
        width: 47%;
    }

    #nosotros {
        display: flex;
        flex-direction: row;
    }

    #nosotros div {
        width: 30%;
    }
}

@media only screen and (min-width:1024px) {
    
    /* Seccion pagina principal */
    
    /* Seccion encabezado */
    #flechita {
        display: block;
    }
    
    /* Seccion decoracion */
    #ideas p{
        top: 2em
    }

    /* Seccion pagina contacto */

    
}
