* {
    margin: 0;
    padding: 0;
    bottom: none;
    box-sizing: border-box;
    border: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    border: 2px solid red;
}

a {
    text-decoration: none;
    color: orange;
}

#Main{
    border: 2px solid green;
    flex-grow: 1;
    /* margin: 20px; */
}
#Pagina {
    display: flex;
    margin: 10px auto;
    max-width: 1200px;
    text-align: start;
    background-color: rgba(233, 231, 231, 0.664);
    border: 2px solid red;
}

#Pagina img{
    margin: 5px 5px;  
}

.ecotree{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid red;
    background-color: rgba(233, 231, 231, 0.664);
    border-radius: .75rem;
    height: 200px;
    width: 25%;
    padding: 0 0 0 0.5rem;
}

.encabezado{
    display: flex;
    align-items:center;
    justify-content: space-between;
    border: 2px solid black;
    /* margin-left: 200px;
    margin-right: 200px; */
}


body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    text-justify: distribute;
    text-align: start;
    background-color: rgb(255, 255, 255);
    border: 2px solid yellow;
}

.jardin{
    border: 2px solid blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.jardin img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: .75rem;
}


.menu {
    display: flex;
    flex-direction: column;
    width: 25%;    
    padding: 1rem 2rem;
    font-size: 1rem;
}

.menu hr {
    margin: 5px;
}

#contrabajos{
    display:flex ;
}

.formulario{
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: start;
    border: 2px solid greenyellow;
    /*margin-left: 235px;
    margin-right: 0px;*/
    align-items:center;
}

input, textarea {
    width: 80%; 
}

/*.galeria img{
    background-color: white;
    padding: 5px 5px;
}*/


.galeria{
    background-color: white;
    align-items: center;
    border: 2px solid blueviolet;
    padding: 0px;
    /*height: 500px;*/
    /*margin-right: 150px;*/
}

.galeria img{
    padding: 5px 5px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.detalle {
    text-align: justify;
}

.decorar{
    background-color: rgba(233, 231, 231, 0.664);
    border-radius: 10px
}

.contacto {
    background-color: rgb(205, 237, 255);
    text-align: start;
    padding: 30px 20px;
    border: 2px solid blue;
}


.nuestroServicio {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}

footer {
    height: 50px;
    background-color: gray;
    margin: 5% 0;
}

.boton{
    background-color: rgb(191, 221, 239);
    text-decoration: none;
    padding: 2px 20px;
    color: rgb(51, 162, 206);
}

/*.conteiner {
    display: flex;
    text-align: start;
    flex-direction: column-reverse;
}*/

/*body.conteiner {
    display: flex;
}*/

/*.section div img {
    width: 100%;
    height: auto;
    /*padding: 10%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
*/

@media (max-width: 960px){

}

@media (max-width: 768px){

}

@media (max-width: 320px){
    .header, .conten-section, .contenedor-grid{
        flex-direction: column;
    }
}



/* Estilos para pantallas de 320px o menos */
@media (max-width: 320px) {
  /* Agrega tus estilos específicos para pantallas de 320px o menos aquí */
}

/* Estilos para pantallas de 321px a 768px */
@media (min-width: 321px) and (max-width: 768px) {
  /* Agrega tus estilos específicos para pantallas de 321px a 768px aquí */
}

/* Estilos para pantallas de 769px a 960px */
@media (min-width: 769px) and (max-width: 960px) {
  /* Agrega tus estilos específicos para pantallas de 769px a 960px aquí */
}

/* Estilos para pantallas más grandes de 960px */
@media (min-width: 961px) {
  /* Agrega tus estilos específicos para pantallas de 961px o más aquí */
}

/* Agrega cualquier otro estilo general que desees aquí */


